.evse-live.bg-gradient-green{
    background: radial-gradient(circle at top left, #00ff080d 120px, #00ff1024);
}
.evse-live.bg-gradient-blue{
    background: radial-gradient(circle at top left, #008cff0d 120px, #0090ff24);
}
.evse-live.bg-gradient-red{
    background: radial-gradient(circle at top left, #ff00000d 120px, #ff000024)
}
.evse-live .status-badge{
    width:130px;
    height:130px;
}
.evse-live .status-badge .upper{
    width:100%;
    height: 100px;
    font-size:50px;
}
.evse-live .status-badge .lower{
    width:100%;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
}
.evse-live .status-attr{
    color:inherit;
    flex-direction: column;
    margin: 5px;
    padding:10px;
    background:rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.evse-live .status-attr:active{
    background:rgba(213, 213, 213, 0.6);
}
.evse-live .status-attr:first-child{
    margin-left:0;
}
.evse-live .status-attr.active{
    font-weight: bold;
}
.evse-live a.status-attr .fix-height{
    height: 40.5px;
}
.evse-live a.status-attr .fix-height svg{
    transform: scale(1.3);
}
.evse-live .status-attr svg{
    font-size: 2.1em;
    margin-right: 5px;
}
.evse-live .evse-attr{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top:5px;
}
.evse-live .meter-values{
    text-align: center;
    display: grid;
    flex-grow: 0.5 !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 6px;
    column-gap: 6px;
    font-size: 0.9em;
}
.evse-live .meter-values .label{
    min-height:60px;
}
.evse-live .green{
    color:green;
}
.evse-live .blue{
    color:#2e68ff;
}
.evse-live .red{
    color:rgb(183, 0, 0);
}
.evse-live .live-rotate{
    animation: loadingRotate 4s linear 0s infinite;
}
@media only screen and (max-width:767px) {
    .evse-live .status-badge{
        margin:0 auto 20px auto
    }
    .evse-live .status-attr:last-child{
        margin-right:0;
    }
    .evse-live .evse-attr{
        margin-bottom: 10px;
    }
}