.sidebar{
    background:var(--sidebar-bg);
    color: var(--sidebar-txt);
}
.sb-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sb-header svg{
    margin-top:10px;
    font-size:4em;
}
.sb-header div{
    margin-top:5px;
    font-weight:bold;
}
.sb-item{
    height:60px;
    padding:5px;
    border-radius:5px;
    margin:0 10px;
    color: var(--sidebar-txt);
    display:block;
    text-decoration: none;
}
.sb-item:hover{
    color: var(--sidebar-txt);
    background:var(--sidebar-bg-hov);
}
.sb-item.act{
    background:var(--sidebar-bg-act);
}
.sb-content{
    line-height:50px;
    display:flex;
    justify-content: space-between;
}
.sb-content .main{
    display:flex;
    justify-content: left;
}
.sb-content .txt.sec{
    padding-right:5px;
    opacity: 0.3;
}
.sb-content .icon{
    height: 30px;
    width: 30px;
    margin: 10px;
    line-height: 24px;
    font-size:1.2em;
}
/* Header */
header .header-logo{
    padding: 0 5px;
    font-size: 1.9em;
}