:root{
    accent-color: var(--kube-theme-color);
}
.interact{
    user-select: none;
    cursor: pointer;
}
.divider{
    width:90%;
    margin: 10px auto;
    height:1.5px;
    background:var(--divider);
}
.button .pad-icon svg{
    margin-right:10px;
}
td svg{
    margin-right:10px;
    vertical-align: bottom;
}
.label svg{
    vertical-align: text-top;
}
.alert svg{
    margin-right:16px;
    vertical-align: top;
}
.align-center{
    display:flex;
    align-items: center;
}
.all-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.label.is-success.is-large{
    font-size: 1.2rem;
    line-height: 37px;
}
.v-align-mid{
    vertical-align: middle;
}