:root{
    --kube-blockquote-border:rgba(21, 141, 247, .6);
    --kube-label-color: rgba(17, 17, 19, .85);
    --kube-label-color-secondary: rgba(17, 17, 19, .2);
    --kube-body-color: #111113;
    --kube-muted-color: rgba(17, 17, 19, .5);
    --kube-muted-border-color:rgba(17, 17, 19, .1);
    --kube-table-border-color:#eee;
    --kube-theme-color:#0c3dd7;

    --default-main-bg:#fff;
    --default-panel-bg:#fff;

    --sidebar-bg:#333;
    --sidebar-bg-hov:#222;
    --sidebar-bg-act:#111;
    --sidebar-txt:#efefef;

    --divider:#676767;

    --main-bg:var(--default-main-bg);
    --panel-bg:var(--default-panel-bg);

    --theme-color:var(--kube-theme-color);

    --blockquote-border:var(--kube-blockquote-border);
    --label-color:var(--kube-label-color);
    --label-color-secondary:var(--kube-label-color-secondary);
    --body-color:var(--kube-body-color);
    --muted-color:var(--kube-muted-color);
    --muted-border-color:var(--kube-muted-border-color);
    --button-accent-color:var(--theme-color);

    --table-border-color:var(--kube-table-border-color);

    --transparent-green:rgba(32, 188, 113, .1);
    --transparent-gray: rgba(0, 0, 0, 0.07);

    --header-height:40px;
}